
services:

  FirstApp:
    class: processor.FirstApp
    arguments: [$Redis, '%range_from%', '%range_to%']

  Redis:
    class: redis.Redis
    arguments: ['%redis_host%', '%redis_port%']

  PrintApp:
    class: processor.PrintApp
    arguments: ~

  ConditionalApp:
    class: processor.ConditionalApp
    arguments: ~

  OddApp:
    class: processor.OddApp
    arguments: ~

  EvenApp:
    class: processor.EvenApp
    arguments: ~

  LogApp:
    class: ank.components.log_app.LogApp
    arguments: ~

  JoinApp:
    class: ank.components.join_app.JoinApp
    arguments: '%batch_size%'

  SplitApp:
    class: ank.components.split_app.SplitApp
    arguments: ~


chains:
  - FirstApp
#  - LogApp
  - JoinApp
#  - LogApp
  - SplitApp
  - ConditionalApp
  - [EvenApp, OddApp]
  - PrintApp